/* 13. cart page css here */
.cart_page_bg {
    background: #F5F5F9;
    padding: 55px 0 133px; }
    @media only screen and (max-width: 767px) {
      .cart_page_bg {
        padding: 55px 0 111px; } }
  
  .shopping_cart_area {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ebebeb; }
  
  .header_cart_page {
    border-bottom: 1px solid #ebebeb; }
  
  .other_bread {
    padding-top: 41px;
    padding-bottom: 41px; }
  
  .table_desc {
    border: 1px solid #ebebeb;
    margin-bottom: 60px; }
    .table_desc .cart_page table {
      width: 100%; }
      .table_desc .cart_page table thead tr th {
        border-bottom: 3px solid #c40316;
        border-right: 1px solid #ebebeb;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        padding: 10px;
        text-align: center; }
      .table_desc .cart_page table tbody tr td {
        border-bottom: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        text-align: center;
        padding: 10px; }
        .table_desc .cart_page table tbody tr td.product_remove {
          min-width: 100px; }
          .table_desc .cart_page table tbody tr td.product_remove a {
            font-size: 20px;
            color: #222222; }
            .table_desc .cart_page table tbody tr td.product_remove a:hover {
              color: #c40316; }
        .table_desc .cart_page table tbody tr td.product_thumb {
          max-width: 180px; }
          .table_desc .cart_page table tbody tr td.product_thumb a img {
            width: 100px; }
        .table_desc .cart_page table tbody tr td.product_name {
          min-width: 180px; }
          .table_desc .cart_page table tbody tr td.product_name a {
            color: #222222;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 400; }
            .table_desc .cart_page table tbody tr td.product_name a:hover {
              color: #c40316; }
        .table_desc .cart_page table tbody tr td.product-price {
          min-width: 130px;
          color: #222222;
          font-size: 16px;
          font-weight: 500; }
        .table_desc .cart_page table tbody tr td.product_quantity {
          min-width: 180px; }
          .table_desc .cart_page table tbody tr td.product_quantity label {
            font-weight: 500;
            margin-right: 5px; }
          .table_desc .cart_page table tbody tr td.product_quantity input {
            width: 60px;
            height: 40px;
            padding: 0 5px 0 10px;
            background: none;
            border: 1px solid #ebebeb; }
        .table_desc .cart_page table tbody tr td .product_total {
          min-width: 120px; }
  
  .cart_page table thead tr:last-child th, .table_desc table tbody tr td:last-child {
    border-right: 0; }
  
  .cart_submit {
    text-align: right;
    padding: 12px; }
    @media only screen and (max-width: 767px) {
      .cart_submit {
        text-align: center; } }
    .cart_submit button {
      background: #222222;
      border: 0;
      color: #ffffff;
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
      height: 38px;
      line-height: 18px;
      padding: 10px 15px;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-radius: 3px; }
      .cart_submit button:hover {
        background: #c40316; }
  
  .coupon_inner {
    padding: 10px 20px 25px; }
    @media only screen and (max-width: 767px) {
      .coupon_inner {
        padding: 10px 14px 25px; } }
    .coupon_inner p {
      font-size: 13px;
      margin-bottom: 20px; }
    .coupon_inner button {
      background: #222222;
      border: 0;
      color: #ffffff;
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
      height: 38px;
      line-height: 18px;
      padding: 10px 15px;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-radius: 3px; }
      .coupon_inner button:hover {
        background: #c40316; }
    .coupon_inner input {
      border: 1px solid #ebebeb;
      height: 42px;
      background: none;
      padding: 0 20px;
      margin-right: 20px;
      font-size: 12px;
      color: #222222; }
      @media only screen and (max-width: 767px) {
        .coupon_inner input {
          margin-bottom: 24px;
          width: 100%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .coupon_inner input {
          margin-bottom: 24px;
          width: 100%; } }
    .coupon_inner a {
      display: block;
      text-align: right;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 20px;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 10px;
      border-radius: 3px; }
      .coupon_inner a:hover {
        color: #c40316; }
  
  .coupon_code {
    border: 1px solid #ebebeb; }
    @media only screen and (max-width: 767px) {
      .coupon_code.left {
        margin-bottom: 50px; } }
    .coupon_code h3 {
      color: #ffffff;
      line-height: 36px;
      padding: 5px 15px;
      background: #222222;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500; }
      @media only screen and (max-width: 767px) {
        .coupon_code h3 {
          line-height: 28px;
          padding: 5px 15px;
          font-size: 15px; } }
  
  .cart_subtotal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .cart_subtotal p {
      font-weight: 600;
      font-size: 14px; }
      @media only screen and (max-width: 767px) {
        .cart_subtotal p {
          font-size: 13px; } }
      .cart_subtotal p.cart_amount {
        font-size: 18px;
        font-weight: 500; }
        @media only screen and (max-width: 767px) {
          .cart_subtotal p.cart_amount {
            font-size: 13px; } }
      .cart_subtotal p span {
        margin-right: 30px; }
  
  .checkout_btn {
    text-align: right; }
    @media only screen and (max-width: 767px) {
      .checkout_btn {
        text-align: center; } }
    .checkout_btn a {
      background: #c40316;
      color: #ffffff;
      font-size: 15px;
      padding: 3px 14px;
      line-height: 30px;
      font-weight: 500;
      display: inline-block;
      text-transform: capitalize;
      margin-bottom: 0; }
      .checkout_btn a:hover {
        background: #222222;
        color: #ffffff; }
  
  .footer_widgets.other_widgets .footer_top {
    padding-bottom: 0;
    border-bottom: 0; }
  
  .footer_widgets.other_widgets .footer_top_inner {
    padding: 55px 0 53px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .footer_widgets.other_widgets .footer_top_inner {
        padding: 55px 0 59px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .footer_widgets.other_widgets .footer_top_inner {
        padding: 55px 0 40px; } }
    @media only screen and (max-width: 767px) {
      .footer_widgets.other_widgets .footer_top_inner {
        padding: 55px 0 35px; } }
  
  /*cart page css end*/