      
/*variabla product css here*/
.p_section1.related_product .slick-list {
    padding-bottom: 144px !important;
    margin-bottom: -135px; }
  
  .variable_product .niceselect_option .list {
    width: 100%; }
  
  .product_d_meta {
    margin-bottom: 20px; }
    .product_d_meta span {
      display: block;
      line-height: 18px;
      margin-bottom: 17px;
      font-size: 14px;
      font-weight: 400; }
      .product_d_meta span:last-child {
        margin-bottom: 0; }
      .product_d_meta span a:hover {
        color: #c40316; }
  